* {
    margin: 0px; padding: 0px; box-sizing: border-box;
}
li,ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    overflow-x: hidden;
}
table {
    border-collapse: collapse;
    border: none;

    th,td {
        border: none;
    }
}
fieldset {
    border: none;
}
.h {
    position: absolute; top: -9999px; opacity: 0;
}