.subHead {
    width: 100%;
    .inner{
        width: 100%; background-color: rgba(243,242,237,1);
        height: 100px; 

        .wrap {
            width: 100%; position: relative;
            h1 {
                width: 140px; height: 80px; position: absolute;
                top: 10px; left: 70px;

                img {width: 100%; height: 100%;}
            }

            #gnb {
                display: flex;  width: 60%; position: absolute;
                right: 2%; top: 15px; justify-content: space-between;

                li {
                    padding: 20px;

                    a {color: #000; font: normal 20px "Baloo 2";}
                }
            }

            .menuBtn {
                display: none; position: absolute; top: 62px; right: 56px;
                width: 20px; height: 20px; cursor: pointer;

                &::before {
                    content: "";
                    display: block;
                    width: 100%; height: 2px; background:#000;
                    position: absolute; top: 0; left: 0;
                  }
                  &::after {
                    content: ""; display: block; width: 100%;
                    height: 2px; background: #000; position: absolute;
                    bottom: 0; left: 0; 
                  }

                span {
                    display: block; text-indent: -99999px; position: absolute; top: 50%;
                    left: 0; margin-top: -1px;
                    width: 100%; height: 2px; background: #000;
                }

            }
        }

        #gnbMo {
            width: 100%; height: 80vh;  position: absolute; top: 0px; text-align: center; right: -100%;
            display: none; z-index: 10;
            li {
              width: 100%; height: calc(80vh / 7); background-color:#b2b2a2;
              transition: 0.5s;
              >a {
                font: normal 20px/calc(80vh / 7) "Baloo 2"; color: #fff;
              }
    
              &:nth-of-type(1) {
                padding-top: 20px; 
                img {
                  height: 60px; 
                }
              }
    
              &:hover {
                background-color: #585b49;
    
                &:nth-of-type(1) {background-color:#b2b2a2;}
              }
            }
            &.show {
              right: 0%; display: block;
            }
            &.hide {
              right: -100%; display: none;
            }
          }
        #closeBtn {
            width: 20px; height: 20px; padding: 0;  position: absolute; top: 49px; right: 56px;
            color: #fff; cursor: pointer; font-size: 25px; z-index: 10;

            &.show { display: block; }
            &.hide {  display: none;  }
        }
    }
}

@media screen and (max-width : 1150px) {
    .subHead {
        width: 100%;
        .inner{
            width: 100%; background-color: rgba(243,242,237,1);
            height: 150px; 
    
            .wrap {
                width: 100%; position: relative;
                h1 {
                    width: 122px; height: 63px; position: absolute;
                    top: 36px; left: 27px;
    
                    img {width: 100%; height: 100%;}
                }
    
                #gnb {
                    display: none;  
                }
    
                .menuBtn {
                    display: block;  top: 50px;
                }
            }
    
        
    
        }
    }
}