#bigan {
    width: 100%; background-color: rgba(243,242,237,1); height: 1100px;

    .inner{
        width: 1200px; margin: 0 auto;
        position: relative;

        .pic1 {
            position: absolute; top: 86px; left: 32px;
            width: 509px; height: 330px;
            img{width: 100%; height: 100%;} 
        }
        h2 {
            position: absolute; top: 453px; left: 32px;
            color: rgba(88,91,73,1); 
            font: bold 45px/1.8 "Noto Serif Display";
            text-align: left;
        }
        p {
            width: 520px; height: 345px;
            position: absolute; top: 546px; left: 32px;
            color: rgba(0,0,0,1); letter-spacing: 0.7px;
            font: normal 13px/2.3 "Baloo 2"; text-align: left;
        }
        .pic2 {
            position: absolute; top: 86px; left: 600px;
            width: 615px; height: 804px;

            img{width: 100%; height: 100%;}
        }
        .began_bg {
            position: absolute; top: 463px; left: -1192px;
            width: 1612px; height: 668px; opacity: 0.05;
            img { width: 100%; height: 100%;}
        }
    }

}

@media screen and (max-width: 1179px){
    #bigan {
        width: 100%; height: auto; padding: 50px 0;
        background-color: rgba(243,242,237,1); 
    
        .inner{
            width: 100%; margin: 0 auto; 
            position: relative; 
    
            .pic1 {
                position: relative;  width: 509px; height: 330px;
                margin: 30px auto; top: auto; left: auto;
                img{width: 100%; height: 100%;} 
            }
            h2 {
                position: relative; width: 100%; margin: 20px auto;
                text-align: center; top: auto; left: auto;
            }
            p {
                width: 80%; height: auto; top: auto; left: auto;
                position: relative;  text-align: center; margin: 0 auto;
            }
            .pic2 {
                position: relative; margin: 40px auto; top: auto; left: auto;
                width: 415px; height: 604px; 
    
                img{width: 100%; height: 100%;}
            }
            .began_bg {
                position: absolute; top: 363px;
            }
        }
    
    }
}


@media screen and (max-width: 960px){
    #bigan {
    
        .inner{
    
            .pic1 {
                position: relative;  width: 425px; height: 280px;
            }
        }
    }
}