#commend {
    padding: 20px 0;
    width: 100%;  
    background-color: rgba(243,242,237,1);

    .inner  {
        margin: 0 auto;
        width: 1468px; height: 606px;
        padding: 28px 26px; background-image: url(/public/img/slider7.jpg);
        background-repeat: no-repeat; background-position: center;
        background-size: cover; position: relative;

        .wrap {
            margin: 100px; width: 70%;

            >h1 {
                color: #fff;
                font: bold 55px/1.8 "Noto Serif Display";
                text-align: left; 

                &::after {
                    content: "";
                    display: block;
                    width: 100%; height: 1px;
                    background-color: #fff; 
                    margin-top: 20px;
                }
            }
            p {
                display: block;
                margin-top: 30px;
                color: #fff;
                font: normal 17px/1.9 "Baloo 2";
                text-transform: capitalize;
                letter-spacing: 0.2px; font-weight: 300;
            }
            a {
                margin-top: 30px; display: block; transition: 0.5s;
                width: 256px; height: 51px; border-color: rgba(178,178,162,1);
                background-color: rgba(171,142,115,1);
                font: normal 13px/51px "Baloo 2"; font-weight: 300;
                color: #fff; text-align: center; letter-spacing: 1px;
            
                &:hover {
                    background-color: rgba(179,163,149,1);
                    border: rgba(179,163,149,1);;
                }
            }
        }
    }
} 

@media screen and (max-width: 1179px){
    #commend {
        padding: 20px 0;
        width: 100%;  
        background-color: rgba(243,242,237,1);
    
        .inner  {
            width: 100%; 
    
            .wrap {
                margin: 45px; width: 85%;
    
                >h1 {
                    font: bold 45px/1.8 "Noto Serif Display";
                }
            }
        }
    } 
}

@media screen and (max-width: 960px){
    
}