.commu {
    width: 100%; background-color: #f3f2ed; padding: 40px 0;
    .inner{
        width: 1200px; margin: 0 auto; padding: 50px 0;

        h2 {
            text-align: center; color: #585b49; font: bold 45px/1.8 "Noto Serif Display";
        }
        .txtBox {
            width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; 
            article {
                width: 30%; border: 1px solid #cebdb0; box-sizing: border-box;
                padding: 30px 20px; margin-top: 50px; position: relative;

                h3 {
                    font: bold 25px "DM Serif Display"; letter-spacing: 1px;
                     margin-bottom: 5px;
                }
                p {
                    font: normal 18px "Baloo 2"; font-weight: 300;
                }

                &::before {
                    content: ""; z-index: 2;
                    display: block; width: 25px; height: 25px; position: absolute;
                    top: -1px; left: -1px;  background: #f3f2ed; border-right: 1px solid #cebdb0;
                    border-bottom: 1px solid #cebdb0;
                }
                &::after {
                    content:""; display: block; width: 1px; height: 34px; transform: rotate(45deg);
                    background: #cebdb0; position: absolute; top: -4.5%; left: 12px; z-index: 3;
                }
            }

        }
    }
}

@media screen and (max-width: 1179px){
    .commu {
        .inner{
            width: 800px; 

            .txtBox {
                width: 80%; margin: 0 auto;

                article {
                    width: 43%;
                }
            }
        }
    }
}

@media screen and (max-width: 960px){
    .commu {
        .inner{
            width: 100%; 

            .txtBox {
                width: 90%; margin: 0 auto;

                article {
                    width: 80%; margin: 0 auto; margin-top: 50px;
                }
            }
        }
    }
}