#info {
    width: 100%; margin: 0 auto; padding-bottom: 10px;
    background-color: rgba(243,242,237,1);

    .inner {
        width: 100%; position: relative;

        .slider {
            width: 100%; padding-top: 50px; 
            .swiper {
                width: 100%; height: 600px; overflow: hidden;

                .swiper-button-prev {
                    bottom: 0%; color: #b28257; left: 61px; top: auto;
                }
                .swiper-button-next {
                    bottom: 0%; color: #b28257; right: 61px; top: auto;
                }
                .swiper-slide {
                     width: 33.33%; height: 90%; margin: 0 30px;
                    .pic {
                        width: 100%; height: 480px;
                        img {width: 100%; height: 100%;}
                    }
                }
            }
        }

        >h1 {
            display: block; margin: 0 auto; width: 90%;
            color: rgba(88,91,73,1);
            text-transform: capitalize; 
            font: bold 45px/1.5 "Noto Serif Display";
            text-align: center; letter-spacing: 1px;
        }
        .line1
        ,.line2 {
            width: 719px; margin: 50px auto 0;
        }
        .line1{
            height: 1.5px;
            top: 893px;  background-color: rgba(88,91,73,1);
        }
        .line2 {
            height: 1px; margin-top: 10px;
            top: 902px; background-color: rgba(88,91,73,1);
        }
        p {
            width: 100%; margin: 50px auto;
            text-align: center; color: rgba(0,0,0,1);
            font: 14px/1.8 "Baloo 2"; letter-spacing: 0.5px;
        }
    }
}

@media screen and (max-width: 960px){
    #info {
        width: 100%; padding-bottom: 10px; margin: 0 auto;
        background-color: rgba(243,242,237,1);
    
        .inner {
            width: 100%; position: relative;
    
            .slider {
                padding-top: 50px; 
                .swiper {
                    width: 100%; height: 600px; overflow: hidden;
                    .swiper-button-prev {
                        bottom: 4%; left: 41px;
                    }
                    .swiper-button-next {
                        bottom: 4%; right: 41px;
                    }
                    .swiper-slide {
                         width: 33.33%; height: 90%; margin: 0 30px;
                        .pic {
                            width: 100%; height: 480px;
                            img {width: 100%; height: 100%;}
                        }
                    }
                }
            }
    
            >h1 {
                font: bold 35px/1.5 "Noto Serif Display";
            }
            .line1
            ,.line2 { width: 90%; }
            p { width: 90%; }
        }
    }
}