#visual {
  display: block; padding-bottom: 30px;
  width:100%; background-color: rgba(243,242,237,1);

  .inner {
    width: 1200px;  margin: 0 auto;

    .wrap {
      width: 100%; position: relative;

        h2 {
        width: 50%; padding-top: 80px;
        color: rgba(88,91,73,1);
        font: bold 45px/1.5 "Noto Serif Display";
        text-align: left; 
      }
      .line {
        position: absolute;
        left: 599px; top: 77px; width: 1px; height: 196px;
        background-color: rgba(88,91,73,1);
      }
      .pic {
        position: absolute; z-index: 2;background-color: rgba(243,242,237,1);
        left: 554px; top: 143px; width: 48px; height: 71px;
        img {
          width: 92px; height: 39px; transform: translateY(7px);
        }
      }
      p {
        margin-left: auto; margin-top: -180px;
        width: 507px; color: rgba(0,0,0,1);
        line-height: 2.3; font: normal 14px/2.3 "arial"; letter-spacing: 1px;
        text-align: left;
      }
      a {
          display: block; margin: 50px auto; transform: translateX(205px);
        background-color: rgba(171,141,115,1);
        border-color: rgba(171,141,115,1);
        width: 226px; height: 41px; letter-spacing: 0.8px;
        color: rgba(255,255,255,1); text-align: center;
        font: 12px/41px "arial"; transition: 0.5s;
  
        &:hover {
          background-color: rgba(179,163,149,1);
          border: rgba(179,163,149,1);;
        }
      }
    }

    
  }
}

  
@media screen and (max-width: 1179px){
  #visual {
    display: block; 
    width:100%; background-color: rgba(243,242,237,1);
    .inner {
      width: 900px; position: relative; margin: 0 auto; 
      
      .wrap {
        width: 100%; position: relative;
      
        h2 {
          width: 100%; text-align: center; margin: 0 auto;
        }
        .line {
          position: relative; left: auto; top: auto;
          width: 450px; height: 1px; margin: 50px auto;
        }
        .pic {
          left: 387px; top: 219px; width: 130px; display: flex; align-items: center; justify-content: center;
          img {
            width: 101px; height: 35px; transform: translateY(7px);
          }
        }
        p {
          margin: 0 auto; 
          width: 80%; text-align: center;
        }
        a {  transform: translateX(0px); }
      }      
    }
  }
}

@media screen and (max-width: 900px){
  #visual {
    display: block; 
    width:100%; background-color: rgba(243,242,237,1);
    .inner {
      width: 500px; position: relative; margin: 0 auto; 
      
      .wrap {
        width: 100%; position: relative;
      
        h2 {
          width: 90%; font: bold 35px/1.5 "Noto Serif Display";
        }
        .line {
          width: 90%;
        }
        .pic {  left: 175px; top: 242px; }
        p {
          width: 70%;
        }
      }      
    }
  }
}