.gallery {
  background-color: rgba(243,242,237,1);

  .topPic {
    background: url(/public/img/slider3.jpg) bottom; width: 100%;
    height: 60vh; background-repeat: no-repeat; background-attachment: fixed;
    background-size: cover;

    p {
        position: absolute; font: bold 60px/1.8 "DM Serif Display"; letter-spacing: 3px;
        color: #fff; top: 47%; right: 5%; transform: translateY(-50%);
        
    }
    span {
        position: absolute; font: normal 25px "Cardo";
        color: #FFF;top: 54%; left: 47%;
    }

    aside{
        width: 800px; height: 100px; position: absolute; top: 48%; right: 30px;
        overflow: hidden; z-index: 3;

        .top {
            width: 30px;  height: 1px; background: #fff;
            position: absolute; top: 0; right: 0px;
        }
        .right {
            width: 1px; height: 100%; background: #fff;
            position: absolute; top: 0; right: 0;
        }
        .bottom {
            width: 100%; height: 1px; background: #fff;
            position: absolute; bottom: 0; right: 0;
        }
        .left {
            width: 1px; height: 100%; background: #fff;
            position: absolute; bottom: 0; left: 0;
        }
        .topLeft {
            width: 65%;
            height: 1px; background: #fff; position: absolute; top: 0; left: 0;
        }
    }
  }
  .inner {
      position: relative; padding: 40px 0; width: 1180px; margin: 0 auto;
      h1 {
        padding: 30px 15px;  position: absolute; width: 100%;
        a {
          font: bold 40px/1.8 "Noto Serif Display";
           color: rgba(88,91,73,1); letter-spacing: 1px;
        }
      }
      span{
          display: block; position: absolute; top: 150px; left: 20px;
          font: normal 18px/1.8 "Baloo 2"; width: 38%;
          text-align: center; font-weight: 300; 
      }
      .line2 {
          position: absolute; top: 250px; left: 230px;
          width: 713px; height: 2px;  background-color: #585b49;
      }
      .titPic {
          padding: 0 10px;
          width: 72px; height: 51px; margin: 0 auto; background-color: rgba(243,242,237,1);
          position: absolute; top: 228px; left: 50%; transform: translateX(-50%);
          img {width: 100%; height: 100%;}
      }

      ul{
        width: 100%; margin-top: 280px;
        
        .item {
          width: 33.333%; float: left; padding: 20px; 

          >.inner {
            width: 100%;  background-color: #b2b2a2; box-shadow: 5px 5px 10px rgba(0,0,0,.1); padding: 10px;
  
            .pic {
              width: 100%;  margin-bottom: 10px; padding: 10px;
  
              img {
                transition: 0.5s;
                width: 100%; object-fit: cover; filter:sepia(80%);
                
                &:hover {filter:sepia(0%); }
              }
            }
  
            h2 {
              text-align: center; padding-bottom: 10px;
              font: bold 15px/1.2 "Baloo 2"; color: #fff;
            }
          }
        }
      }
  }
  
    .pop {
      width: 100%; height: 100vh; position: fixed; top: 0px; left: 0px; background: rgba(0,0,0,.9); padding: 5vw;
  
      img {
        width: 100%; height: 95%; object-fit: contain; margin-bottom: 15px;
      }
      p {
        font: 14px/1.2 "arial"; color: #fff;
        text-align: center;
      }
    
      span {
        font: bold 14px/1 "arial"; color: #fff;
        position: absolute; top: 3vw; right: 5vw;
        cursor: pointer;
      }
    }
  }
  
  @media screen and (max-width: 1179px){
    .gallery {
      .inner {
        ul {
          .item {width: 33.333%!important;}
        }
      }
    }
  }
  
  @media screen and (max-width: 739px){
    .gallery {
      .inner {
        ul {
          .item {width: 50%;}

        }
      }
    }
  }
  
  @media screen and (max-width: 479px){
    .gallery {
      .inner {
        ul {
          .item {width: 100%!important;}
        }
      }
    }
  }