.youtube {
  background-color: #f7f6ec; 
    .inner {
       
        max-width: 1200px; position: relative; 
        >h1 {
          transform: translateY(-10px); margin-left: 30px; margin-bottom: 30px;

          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: rgba(88,91,73,1);
            margin-top: 10px; 
          }

          a {
          
            font: bold 40px/1.8 "Noto Serif Display";
            color: rgba(88,91,73,1); letter-spacing: 1px;
              
          }
        }
        .logoBg {
          width: 200px;
          height: 100px;
          top: -30px; right: 0;
          position: absolute;
        }
        
      .frame {
        &::after {
          content: ""; display: block; clear: both;        
        }
  
        article {
          width: 100%; height: 450px; float: left; margin-bottom: 32px;
          padding: 32px; overflow: hidden; border-bottom: 1px solid #c9c8bf;
          box-sizing: border-box;
  
          .inner {
             align-content: space-between; display: flex; width: 100%; 
  
            .pic {
              width: 49%; height: 327px;  cursor: pointer; object-fit: cover;
              overflow: hidden;
              img {
                width: 100%; height: 100%; transition: 0.5s; position: relative;
                box-sizing: border-box;

                &:hover {
                  transform: scale(1.1); filter: grayscale(70%); 
                }
              }
              
            }
            
            .txt { 
              box-sizing: border-box; margin-left: 60px; padding: 30px; width: 50%;
              h2 {
                font: bold 26px/1.2 "Noto Serif Display"; 
                color: rgba(88,91,73,1); margin-bottom: 20px; 
                word-break: break-all; width: auto; letter-spacing: 0.5px;
              }
              span {
                color: #93938f; font: normal 16px "Baloo 2";font-weight: 600;
                letter-spacing: 0.5px; transform: translateY(-10px); display: block;
              } 
    
              p {           
                font: normal 16px/1.8 "Baloo 2"; color: #6D6D65;
                word-break: break-all; margin-top: 30px; letter-spacing: 1px;
              }
              a {
                font: normal 13px/40px "Baloo 2"; width: 200px; height: 40px;
                text-align: center; background-color: #b2b2a2; transition: 0.5s;
                display: block; color: #fff; margin-top: 40px; margin-left: 270px;

                &:hover {
                    background-color: rgba(88,91,73,1);;
                }
              }
            }          
  
            
          }
        }
      }
  
      .pop {
        width: 100%; height: 100vh; position: fixed; top: 0px; left: 0px; background: rgba(0,0,0,.9); padding: 5vw;
  
        iframe {
          border: none; width: 100%; height: 100%;
        }
  
        span {
          position: absolute; top: 3vw; right: 5vw; 
          font: bold 14px/1 "arial"; color: #fff; cursor: pointer;
        }
      }
    }
  }