@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Noto+Serif+Display:ital,wght@0,300;1,300&family=Rhodium+Libre&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

li, ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

body {
  overflow-x: hidden; }

header {
  width: 100%;
  background-color: #000; }
  header > .inner {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    background-position: center;
    background-image: url(/public/img/home_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9; }
    header > .inner .wrap {
      max-width: 1200px;
      height: 700px;
      position: relative;
      margin: 0 auto;
      text-align: center; }
      header > .inner .wrap h1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 422px;
        height: 255px;
        text-align: center; }
        header > .inner .wrap h1 span {
          color: #fff;
          font: bold 70px/0.5 "Noto Serif Display";
          letter-spacing: 1.3px; }
        header > .inner .wrap h1 img {
          width: 100%;
          height: 70%; }
      header > .inner .wrap #gnb {
        display: inline-block;
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translate(-50%, 80%);
        width: fit-content; }
        header > .inner .wrap #gnb li {
          float: left;
          transition: 0.5s; }
          header > .inner .wrap #gnb li a {
            display: inline-block;
            padding: 16px 30px;
            font: bold 20px/1 "Baloo 2";
            color: #fff; }
          header > .inner .wrap #gnb li.on {
            color: #51402f; }
          header > .inner .wrap #gnb li:hover {
            transform: rotate(10deg); }
      header > .inner .wrap > a {
        position: absolute;
        top: 30px;
        right: 40px;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        display: none; }
        header > .inner .wrap > a::before {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background: #fff;
          position: absolute;
          top: 0;
          left: 0; }
        header > .inner .wrap > a::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background: #fff;
          position: absolute;
          bottom: 0;
          left: 0; }
        header > .inner .wrap > a span {
          display: block;
          width: 100%;
          height: 2px;
          background: #fff;
          position: absolute;
          top: 50%;
          left: 0px;
          margin-top: -1px;
          text-indent: -9999px; }
    header > .inner #gnbMo {
      width: 100%;
      position: absolute;
      top: 0px;
      text-align: center;
      right: -100%; }
      header > .inner #gnbMo li {
        width: 100%;
        padding: 15px;
        background-color: #b2b2a2;
        transition: 0.5s; }
        header > .inner #gnbMo li a {
          font: normal 24px "Baloo 2";
          color: #fff; }
        header > .inner #gnbMo li:nth-of-type(1) {
          padding-top: 30px; }
          header > .inner #gnbMo li:nth-of-type(1) img {
            height: 60px; }
        header > .inner #gnbMo li:hover {
          background-color: #585b49; }
          header > .inner #gnbMo li:hover:nth-of-type(1) {
            background-color: #b2b2a2; }

main {
  padding: 100px 0px; }
  main > .inner {
    width: 1180px;
    min-height: 500px;
    margin: 0px auto; }
    main > .inner h1 {
      font: 30px/1 "arial";
      color: #333;
      margin-bottom: 20px; }

footer {
  width: 100%;
  height: 500px;
  background-color: #f3f2ed; }
  footer .inner {
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
    position: relative; }
    footer .inner h3 {
      position: absolute;
      top: 62px;
      left: 16px;
      color: #585b49;
      font: bold 35px/1.8 "Noto Serif Display";
      text-align: left; }
    footer .inner .line {
      position: absolute;
      top: 92px;
      left: 395px;
      width: 608px;
      height: 1px;
      background-color: #585b49; }
    footer .inner > span {
      cursor: pointer;
      position: absolute;
      margin-top: 10px;
      top: 80px;
      left: 1031px;
      font: bold 12px/2.3px "Baloo 2";
      text-align: left;
      letter-spacing: 1.2px;
      color: #635b49; }
    footer .inner .wrap {
      position: absolute;
      top: 138px;
      left: 18px; }
      footer .inner .wrap li {
        width: 178px;
        height: 171px;
        float: left;
        margin-right: 19px;
        transition: 0.5s; }
        footer .inner .wrap li img {
          width: 100%;
          height: 100%; }
        footer .inner .wrap li:hover {
          opacity: 0.7; }
    footer .inner p {
      width: 436px;
      position: absolute;
      top: 343px;
      left: 19px;
      font: normal 13px/2.3 "Baloo 2";
      font-weight: 300;
      text-align: left;
      letter-spacing: 0.5px; }
    footer .inner .gnb {
      display: inline-block;
      position: absolute;
      top: 413px;
      left: 21px; }
      footer .inner .gnb .email {
        cursor: pointer;
        margin-top: 15px;
        font: bold 12px/2.3px "Baloo 2";
        margin-right: 40px;
        text-align: left;
        letter-spacing: 1.2px;
        color: #635b49; }
        footer .inner .gnb .email:hover {
          color: #000; }
      footer .inner .gnb a {
        display: inline-block;
        margin-right: 15px;
        color: #585b49; }
    footer .inner .pic {
      width: 157px;
      height: 160px;
      position: absolute;
      top: 310px;
      left: 509px; }
      footer .inner .pic img {
        width: 100%;
        height: 100%; }
    footer .inner > a {
      position: absolute;
      top: 362px;
      left: 930px;
      width: 256px;
      height: 42px;
      background-color: #b2b2a2;
      border-color: #b2b2a2;
      color: #fff;
      font: normal 11px/42px "Baloo 2";
      font-weight: 300;
      text-align: center;
      letter-spacing: 1px;
      transition: 1s; }
      footer .inner > a:hover {
        background-color: #585b49;
        border-color: #585b49; }

.copy {
  width: 100%;
  height: 38px;
  background-color: #b3a395;
  position: relative; }
  .copy .inner {
    width: 1200px;
    height: 100%;
    margin: 0 auto; }
    .copy .inner p {
      position: absolute;
      left: 600px;
      color: #fff;
      font: normal 13px/38px "Baloo 2";
      font-weight: 300;
      letter-spacing: 0.5px;
      text-align: center; }
    .copy .inner span {
      position: absolute;
      right: 150px;
      cursor: pointer;
      color: #fff;
      font: normal 13px/38px "Baloo 2";
      font-weight: 300;
      letter-spacing: 1px; }
      .copy .inner span i {
        margin-left: 10px; }

@media screen and (max-width: 1179px) {
  header > .inner {
    max-width: 100%; }
    header > .inner .wrap {
      max-width: 1200px;
      height: 700px;
      position: relative; }
      header > .inner .wrap h1 {
        transform: translate(-50%, -50%) scale(0.8, 0.8);
        transition: 1s; }

  footer {
    height: 1500px; }
    footer .inner {
      width: 100%;
      margin: 0px auto;
      height: 100%; }
      footer .inner h3 {
        position: absolute;
        margin-top: 0px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        font-size: 50px;
        display: block; }
      footer .inner .line {
        position: absolute;
        left: 50%;
        width: 80%;
        height: 1px;
        transform: translateX(-50%);
        display: block;
        margin-top: 100px; }
      footer .inner > span {
        cursor: pointer;
        position: absolute;
        margin-top: 80px;
        width: 100%;
        left: 50%;
        font: bold 16px/2.3px "Baloo 2";
        display: block;
        text-align: center;
        transform: translateX(-50%); }
      footer .inner .wrap {
        position: absolute;
        width: 80%;
        left: 50%;
        transform: translateX(-47%);
        top: 18%; }
        footer .inner .wrap li {
          width: 48%;
          height: 201px;
          float: left;
          margin-right: 0px;
          transition: 0.5s; }
          footer .inner .wrap li img {
            width: 90%;
            height: 100%; }
          footer .inner .wrap li:hover {
            opacity: 0.7; }
          footer .inner .wrap li:nth-of-type(1), footer .inner .wrap li:nth-of-type(3) {
            padding-right: 0px; }
          footer .inner .wrap li:nth-of-type(3), footer .inner .wrap li:nth-of-type(4) {
            margin-top: 20px; }
          footer .inner .wrap li:nth-of-type(5), footer .inner .wrap li:nth-of-type(6) {
            display: none; }
      footer .inner p {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        font: normal 22px/2 "Baloo 2";
        font-weight: 300;
        text-align: center; }
      footer .inner .gnb {
        display: block;
        position: absolute;
        top: 78%;
        left: 50%;
        transform: translateX(-50%); }
        footer .inner .gnb .email {
          cursor: pointer;
          margin-top: 15px;
          width: 100%;
          display: block;
          font: bold 19px/2.3px "Baloo 2";
          margin-right: 0px;
          text-align: left;
          letter-spacing: 1.2px; }
          footer .inner .gnb .email:hover {
            color: #000; }
        footer .inner .gnb a {
          display: inline-block;
          margin-top: 40px;
          font-size: 30px;
          color: #585b49;
          padding: 0 20px; }
      footer .inner .pic {
        width: 250px;
        height: 260px;
        position: absolute;
        margin-top: 30px;
        top: 58%;
        left: 50%;
        transform: translateX(-50%); }
        footer .inner .pic img {
          width: 100%;
          height: 100%; }
      footer .inner > a {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        height: 72px;
        font: normal 20px/72px "Baloo 2";
        transition: 1s; }
        footer .inner > a:hover {
          background-color: #585b49;
          border-color: #585b49; }

  .copy {
    width: 100%;
    height: 38px;
    background-color: #b3a395;
    position: relative; }
    .copy .inner {
      width: 100%;
      height: 100%;
      margin: 0 auto; }
      .copy .inner p {
        position: absolute;
        left: 30%;
        color: #fff;
        transform: translateX(-50%);
        font: normal 13px/38px "Baloo 2";
        font-weight: 300;
        letter-spacing: 0.5px;
        text-align: center; }
      .copy .inner span {
        position: absolute;
        transform: translateX(100px);
        cursor: pointer;
        color: #fff;
        font: normal 13px/38px "Baloo 2";
        font-weight: 300;
        letter-spacing: 1px; }
        .copy .inner span i {
          margin-left: 10px; } }
@media screen and (max-width: 960px) {
  header > .inner {
    max-width: 100%;
    height: 70vh; }
    header > .inner .wrap {
      width: 100%;
      height: 100%;
      position: relative; }
      header > .inner .wrap h1 {
        transform: scale(1, 1) translate(-50%, -50%);
        transition: 1s; }
      header > .inner .wrap > a {
        display: block; }
      header > .inner .wrap #gnb {
        display: none; }
    header > .inner #gnbMo {
      right: 0%; } }
#second {
  display: block;
  height: 350px;
  width: 100%;
  background-color: #f3f2ed; }
  #second .inner {
    width: 1200px;
    position: relative;
    margin: 0 auto; }
    #second .inner h2 {
      position: absolute;
      left: 49px;
      top: 70px;
      width: 486px;
      height: 176px;
      color: #585b49;
      font: bold 45px/1.5 "Noto Serif Display";
      text-align: left; }
    #second .inner .line {
      position: absolute;
      left: 599px;
      top: 77px;
      width: 1px;
      height: 196px;
      background-color: #585b49; }
    #second .inner .pic {
      position: absolute;
      z-index: 2;
      background-color: #f3f2ed;
      left: 554px;
      top: 143px;
      width: 48px;
      height: 71px; }
      #second .inner .pic img {
        width: 92px;
        height: 39px;
        transform: translateY(7px); }
    #second .inner p {
      position: absolute;
      top: 95px;
      left: 694px;
      width: 507px;
      height: 98px;
      color: black;
      line-height: 2.3;
      font: normal 14px/2.3 "arial";
      letter-spacing: 1px;
      text-align: left; }
    #second .inner a {
      position: absolute;
      display: block;
      top: 225px;
      left: 692px;
      background-color: #ab8d73;
      border-color: #ab8d73;
      width: 226px;
      height: 41px;
      letter-spacing: 0.8px;
      color: white;
      text-align: center;
      font: 12px/41px "arial";
      transition: 0.5s; }
      #second .inner a:hover {
        background-color: #b3a395;
        border: #b3a395; }

@media screen and (max-width: 1179px) {
  #second {
    display: block;
    height: 350px;
    width: 100%;
    background-color: #f3f2ed; }
    #second .inner {
      width: 100%;
      position: relative;
      margin: 0 auto;
      transition: 1s;
      transform: scale(0.8, 0.8);
      height: 100%;
      margin-left: -90px; }
      #second .inner h2 {
        position: absolute;
        left: 49px;
        top: 70px;
        width: 436px;
        height: 176px;
        color: #585b49;
        font: bold 40px/1.5 "Noto Serif Display";
        text-align: left; }
      #second .inner .line {
        left: 529px; }
      #second .inner .pic {
        position: absolute;
        z-index: 2;
        background-color: #f3f2ed;
        left: 484px; }
      #second .inner p {
        left: 654px; }
      #second .inner a {
        position: absolute;
        display: block;
        top: 225px;
        left: 652px; } }
@media screen and (max-width: 960px) {
  #second {
    display: block;
    height: 530px;
    width: 100%;
    background-color: #f3f2ed; }
    #second .inner {
      width: 100%;
      position: relative;
      margin: 0 auto;
      transition: 1s;
      transform: scale(1, 1);
      height: 100%; }
      #second .inner h2 {
        position: absolute;
        top: 30px;
        width: 100%;
        margin: 0 auto;
        color: #585b49;
        display: block;
        left: 0;
        font: bold 30px/1.5 "Noto Serif Display";
        text-align: center; }
      #second .inner .line {
        position: absolute;
        display: block;
        left: 50%;
        margin: 0 auto;
        top: 200px;
        width: 80%;
        height: 1px;
        transform: translateX(-50%); }
      #second .inner .pic {
        left: 50%;
        transform: translateX(-50%);
        top: 170px;
        width: 120px;
        height: 50px; }
        #second .inner .pic img {
          width: 100%;
          height: 100%; }
      #second .inner p {
        left: 50%;
        top: 250px;
        transform: translateX(-50%);
        line-height: 1.8;
        width: 95%;
        display: block;
        margin: 0 auto;
        text-align: center; }
      #second .inner a {
        position: absolute;
        display: block;
        top: 430px;
        left: 50%;
        transform: translateX(-50%); } }
#third {
  width: 100%;
  height: 1100px;
  margin: 0 auto;
  background-color: #f3f2ed; }
  #third .inner {
    width: 100%;
    position: relative; }
    #third .inner .slider {
      width: 1520px;
      height: 1100px; }
      #third .inner .slider .pics {
        width: 300%;
        height: 100%; }
        #third .inner .slider .pics li {
          float: left;
          margin-right: 30px; }
          #third .inner .slider .pics li .pic {
            width: 375px;
            height: 500px; }
            #third .inner .slider .pics li .pic img {
              width: 100%;
              height: 100%; }
    #third .inner .prevBtn
    , #third .inner .nextBtn {
      position: absolute;
      top: 632px;
      transition: 0.5s;
      font-size: 70px;
      color: #ab8e73; }
      #third .inner .prevBtn:hover
      , #third .inner .nextBtn:hover {
        color: #b3a395; }
    #third .inner .prevBtn {
      left: 60px; }
    #third .inner .nextBtn {
      right: 60px; }
    #third .inner > h1 {
      display: block;
      margin: 0 auto;
      color: #585b49;
      text-transform: capitalize;
      transform: translateX(-50%);
      font: bold 45px/1.5 "Noto Serif Display";
      text-align: center;
      letter-spacing: 1px;
      position: absolute;
      left: 50%;
      top: 744px; }
    #third .inner .line1
    , #third .inner .line2 {
      width: 719px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%); }
    #third .inner .line1 {
      height: 1.5px;
      top: 893px;
      background-color: #585b49; }
    #third .inner .line2 {
      height: 1px;
      top: 902px;
      background-color: #585b49; }
    #third .inner p {
      width: 100%;
      position: absolute;
      top: 939px;
      margin: 0 auto;
      text-align: center;
      color: black;
      font: 14px/1.8 "Baloo 2";
      letter-spacing: 0.5px; }

@media screen and (max-width: 1179px) {
  #third {
    width: 100%;
    height: 1100px;
    margin: 0 auto;
    background-color: #f3f2ed; }
    #third .inner {
      width: 100%;
      position: relative; }
      #third .inner .slider {
        width: 1520px;
        height: 1100px; }
        #third .inner .slider .pics {
          width: 300%;
          height: 100%; }
          #third .inner .slider .pics li {
            float: left;
            margin-right: 30px; }
            #third .inner .slider .pics li .pic {
              width: 375px;
              height: 500px; }
              #third .inner .slider .pics li .pic img {
                width: 100%;
                height: 100%; }
      #third .inner > h1 {
        transition: 1s;
        font: bold 30px/1.5 "Noto Serif Display";
        position: absolute;
        left: 50%;
        top: 750px; } }
#commend {
  padding: 20px 0;
  width: 100%;
  height: 680px;
  background-color: #f3f2ed; }
  #commend .inner {
    margin: 0 auto;
    width: 1468px;
    height: 606px;
    padding: 28px 26px;
    background-image: url(/public/img/slider7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; }
    #commend .inner .wrap {
      position: absolute;
      top: 172px;
      left: 86px; }
      #commend .inner .wrap > h1 {
        color: #fff;
        font: bold 55px/1.8 "Noto Serif Display";
        text-align: left; }
        #commend .inner .wrap > h1::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: #fff;
          margin-top: 20px; }
      #commend .inner .wrap p {
        display: block;
        margin-top: 30px;
        color: #fff;
        font: normal 17px/1.9 "Baloo 2";
        text-transform: capitalize;
        letter-spacing: 0.2px;
        font-weight: 300; }
      #commend .inner .wrap a {
        margin-top: 30px;
        display: block;
        transition: 0.5s;
        width: 256px;
        height: 51px;
        border-color: #b2b2a2;
        background-color: #ab8e73;
        font: normal 13px/51px "Baloo 2";
        font-weight: 300;
        color: #fff;
        text-align: center;
        letter-spacing: 1px; }
        #commend .inner .wrap a:hover {
          background-color: #b3a395;
          border: #b3a395; }

@media screen and (max-width: 1179px) {
  #commend .inner .wrap {
    position: absolute;
    transform: scale(0.8, 0.8);
    top: 172px;
    left: 16px;
    transition: 1s; } }
@media screen and (max-width: 960px) {
  #commend .inner {
    width: 100%;
    height: 660px; }
    #commend .inner .wrap {
      position: absolute;
      transform: scale(1, 1);
      top: 72px;
      left: 50%;
      transition: 1s;
      margin: 0 auto;
      width: 100%;
      transform: translateX(-50%); }
      #commend .inner .wrap > h1 {
        color: #fff;
        width: 80%;
        font: bold 55px/1.6 "Noto Serif Display";
        text-align: center;
        margin: 0 auto; }
        #commend .inner .wrap > h1::after {
          width: 80%;
          margin: 20px auto; }
      #commend .inner .wrap p {
        width: 80%;
        margin: 0 auto;
        display: block;
        line-height: 1.7;
        text-align: center; }
      #commend .inner .wrap a {
        display: block;
        transition: 0.5s;
        width: 256px;
        margin: 30px auto; }
        #commend .inner .wrap a:hover {
          background-color: #b3a395;
          border: #b3a395; } }
#bigan {
  width: 100%;
  height: 1100px;
  background-color: #f3f2ed; }
  #bigan .inner {
    width: 1200px;
    margin: 0 auto;
    position: relative; }
    #bigan .inner .pic1 {
      position: absolute;
      top: 86px;
      left: 32px;
      width: 509px;
      height: 330px; }
      #bigan .inner .pic1 img {
        width: 100%;
        height: 100%; }
    #bigan .inner h2 {
      position: absolute;
      top: 453px;
      left: 32px;
      color: #585b49;
      font: bold 45px/1.8 "Noto Serif Display";
      text-align: left; }
    #bigan .inner p {
      width: 520px;
      height: 345px;
      position: absolute;
      top: 546px;
      left: 32px;
      color: black;
      letter-spacing: 0.7px;
      font: normal 13px/2.3 "Baloo 2";
      text-align: left; }
    #bigan .inner .pic2 {
      position: absolute;
      top: 86px;
      left: 600px;
      width: 615px;
      height: 804px; }
      #bigan .inner .pic2 img {
        width: 100%;
        height: 100%; }
    #bigan .inner .began_bg {
      position: absolute;
      top: 463px;
      left: -1192px;
      width: 1612px;
      height: 668px;
      opacity: 0.05; }
      #bigan .inner .began_bg img {
        width: 100%;
        height: 100%; }

@media screen and (max-width: 1179px) {
  #bigan {
    width: 100%;
    height: 950px;
    background-color: #f3f2ed; }
    #bigan .inner {
      width: 100%;
      margin: 0 auto;
      height: 100%;
      position: relative; }
      #bigan .inner .pic1 {
        position: absolute;
        top: -30px;
        left: 0px;
        transition: 1s;
        width: 509px;
        height: 330px;
        transform: scale(0.8, 0.8); }
        #bigan .inner .pic1 img {
          width: 100%;
          height: 100%; }
      #bigan .inner h2 {
        position: absolute;
        top: 333px;
        left: 42px;
        color: #585b49;
        font: bold 35px/1.8 "Noto Serif Display";
        text-align: left; }
      #bigan .inner p {
        width: 420px;
        height: 345px;
        position: absolute;
        top: 406px;
        left: 42px; }
      #bigan .inner .pic2 {
        position: absolute;
        top: 0px;
        left: 400px;
        width: 615px;
        height: 804px;
        transform: scale(0.65, 0.6);
        transition: 1s; }
        #bigan .inner .pic2 img {
          width: 100%;
          height: 100%; }
      #bigan .inner .began_bg {
        position: absolute;
        top: 363px; } }
@media screen and (max-width: 960px) {
  #bigan {
    width: 100%;
    height: 1500px;
    background-color: #f3f2ed; }
    #bigan .inner {
      width: 100%;
      margin: 0 auto;
      height: 100%;
      position: relative; }
      #bigan .inner .pic1 {
        position: absolute;
        top: 30px;
        left: 50%;
        transition: 1s;
        width: 460px;
        height: 330px;
        transform: scale(1, 1) translateX(-50%);
        margin: 0 auto; }
      #bigan .inner > h2 {
        position: absolute;
        top: 390px;
        left: 50%;
        color: #585b49;
        transform: translateX(-50%);
        width: 100%;
        text-align: center; }
      #bigan .inner p {
        width: 80%;
        text-align: center;
        top: 470px; }
      #bigan .inner .pic2 {
        position: absolute;
        top: 980px;
        left: 50%;
        display: block;
        width: 400px;
        height: 480px;
        transform: translateX(-50%);
        transition: 1s; }
        #bigan .inner .pic2 img {
          width: 100%;
          height: 100%; } }
#service {
  width: 100%;
  height: 650px;
  background-color: #b2b2a2; }
  #service .inner {
    width: 1280px;
    margin: 0 auto;
    position: relative; }
    #service .inner h1 {
      position: absolute;
      top: 77px;
      margin: 0 auto;
      width: 100%;
      font: bold 60px/1.8 "Noto Serif Display";
      color: #585b49;
      text-align: center; }
    #service .inner span {
      display: block;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      top: 180px;
      position: absolute;
      font: bold 20px/1.8 "Baloo 2";
      color: #fff;
      letter-spacing: 1.4px; }
    #service .inner article {
      width: 32.5%;
      float: left;
      padding: 20px;
      margin-top: 230px;
      margin-left: 10px; }
      #service .inner article .wrap .pic {
        width: 176px;
        height: 111px;
        margin: 0 auto; }
        #service .inner article .wrap .pic img {
          width: 100%;
          height: 100%; }
      #service .inner article .wrap h3 {
        color: #fff;
        font: normal 25px/1.6 "Noto Serif Display";
        text-align: center;
        font-weight: 600; }
      #service .inner article .wrap p {
        width: 330px;
        margin: 0 auto;
        color: #000;
        font: normal 13px/2 "Baloo 2";
        text-align: center;
        letter-spacing: 0.5px;
        margin-top: 20px;
        font-weight: 300; }
      #service .inner article:nth-of-type(1)::after, #service .inner article:nth-of-type(2)::after {
        content: "";
        width: 1px;
        height: 286px;
        background-color: #585b49;
        display: inline-block;
        position: absolute;
        top: 269px;
        margin-left: 400px; }

@media screen and (max-width: 1179px) {
  #service {
    width: 100%;
    height: 650px;
    background-color: #b2b2a2; }
    #service .inner {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      position: relative;
      transform: scale(0.9, 0.9);
      transition: 1s;
      box-sizing: border-box; }
      #service .inner h1 {
        top: 17px; }
      #service .inner span {
        top: 120px; }
      #service .inner article {
        width: 32%;
        float: left;
        padding: 20px;
        margin-top: 180px;
        margin-left: 10px;
        box-sizing: border-box; }
        #service .inner article .wrap p {
          width: 100%; }
        #service .inner article:nth-of-type(1)::after, #service .inner article:nth-of-type(2)::after {
          height: 330px;
          margin-left: 285px;
          transform: translateY(-30px); } }
@media screen and (max-width: 960px) {
  #service {
    width: 100%;
    height: 1350px;
    background-color: #b2b2a2; }
    #service .inner {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      position: relative;
      transform: scale(1, 1);
      transition: 1s;
      box-sizing: border-box; }
      #service .inner > h1 {
        font-size: 50px; }
      #service .inner article {
        width: 100%;
        float: left;
        padding: 20px;
        position: relative;
        margin-top: 20px;
        margin-left: 0px;
        box-sizing: border-box; }
        #service .inner article .wrap p {
          width: 100%; }
        #service .inner article:nth-of-type(1) {
          margin-top: 150px; }
        #service .inner article:nth-of-type(1)::after, #service .inner article:nth-of-type(2)::after {
          display: block;
          width: 80%;
          height: 1px;
          position: absolute;
          margin-left: 0px;
          transform: translate(-50%);
          left: 50%;
          margin-top: 100px;
          background-color: #fff; } }
#book {
  width: 100%;
  height: 500px;
  background-color: #f3f2ed; }
  #book .inner {
    width: 100%;
    height: 100%;
    background: url(/public//img/bookBg.jpg) fixed center/cover; }
    #book .inner .wrap {
      width: 1200px;
      margin: 0 auto;
      position: relative; }
      #book .inner .wrap p {
        position: absolute;
        top: 128px;
        left: 97px;
        font: bold 18px/1.8 "Baloo 2";
        text-align: left;
        color: #fff;
        letter-spacing: 0.5px; }
      #book .inner .wrap h1 {
        position: absolute;
        top: 166px;
        left: 90px;
        font: bold 55px/1.4 "Noto Serif Display";
        color: #fff;
        letter-spacing: 1px; }
      #book .inner .wrap a {
        position: absolute;
        top: 326px;
        left: 95px;
        width: 256px;
        height: 46px;
        text-align: center;
        color: #fff;
        background-color: #b2b2a2;
        border-color: #b2b2a2;
        font: normal 12px/45px "Baloo 2";
        font-weight: 300;
        letter-spacing: 1px;
        cursor: pointer;
        transition: 0.5s; }
        #book .inner .wrap a:hover {
          background-color: #585b49;
          border-color: #585b49; }

@media screen and (max-width: 960px) {
  #book {
    width: 100%;
    height: 500px;
    background-color: #f3f2ed; }
    #book .inner .wrap {
      width: 100%;
      margin: 0 auto;
      position: relative; }
      #book .inner .wrap p {
        position: absolute;
        top: 88px;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        width: 100%;
        display: block; }
      #book .inner .wrap h1 {
        position: absolute;
        top: 126px;
        left: 50%;
        font: bold 50px/1.4 "Noto Serif Display";
        transform: translateX(-50%);
        width: 100%;
        text-align: center; }
      #book .inner .wrap a {
        position: absolute;
        top: 306px;
        left: 50%;
        transform: translateX(-50%); } }
.gallery {
  background-color: #f3f2ed; }
  .gallery .inner {
    position: relative;
    padding: 40px 0;
    width: 1180px;
    margin: 0 auto; }
    .gallery .inner h1 {
      padding: 30px 15px;
      position: absolute;
      width: 100%; }
      .gallery .inner h1 a {
        font: bold 40px/1.8 "Noto Serif Display";
        color: #585b49;
        letter-spacing: 1px; }
    .gallery .inner span {
      display: block;
      position: absolute;
      top: 150px;
      left: 20px;
      font: normal 18px/1.8 "Baloo 2";
      width: 38%;
      text-align: center;
      font-weight: 300; }
    .gallery .inner .line2 {
      position: absolute;
      top: 250px;
      left: 230px;
      width: 713px;
      height: 2px;
      background-color: #585b49; }
    .gallery .inner .titPic {
      padding: 0 10px;
      width: 72px;
      height: 51px;
      margin: 0 auto;
      background-color: #f3f2ed;
      position: absolute;
      top: 228px;
      left: 50%;
      transform: translateX(-50%); }
      .gallery .inner .titPic img {
        width: 100%;
        height: 100%; }
    .gallery .inner ul {
      width: 100%;
      margin-top: 280px; }
      .gallery .inner ul .item {
        width: 33.333%;
        float: left;
        padding: 20px; }
        .gallery .inner ul .item > .inner {
          width: 100%;
          background-color: #b2b2a2;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          padding: 10px; }
          .gallery .inner ul .item > .inner .pic {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px; }
            .gallery .inner ul .item > .inner .pic img {
              transition: 0.5s;
              width: 100%;
              object-fit: cover;
              filter: sepia(80%); }
              .gallery .inner ul .item > .inner .pic img:hover {
                filter: sepia(0%); }
          .gallery .inner ul .item > .inner h2 {
            text-align: center;
            padding-bottom: 10px;
            font: bold 15px/1.2 "Baloo 2";
            color: #fff; }
  .gallery .pop {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.9);
    padding: 5vw; }
    .gallery .pop img {
      width: 100%;
      height: 95%;
      object-fit: contain;
      margin-bottom: 15px; }
    .gallery .pop p {
      font: 14px/1.2 "arial";
      color: #fff;
      text-align: center; }
    .gallery .pop span {
      font: bold 14px/1 "arial";
      color: #fff;
      position: absolute;
      top: 3vw;
      right: 5vw;
      cursor: pointer; }

@media screen and (max-width: 1179px) {
  .gallery .item {
    width: 33.333% !important; } }
@media screen and (max-width: 739px) {
  .gallery .item {
    width: 50% !important; } }
@media screen and (max-width: 479px) {
  .gallery .item {
    width: 100% !important; } }
#community {
  width: 100%;
  margin: 0px auto; }
  #community .inner {
    width: 1180px;
    height: 1000px;
    position: relative;
    margin: 0 auto; }
    #community .inner > h1 {
      position: absolute;
      top: 0px;
      left: 0px; }
      #community .inner > h1 a {
        font: bold 40px/1.8 "Noto Serif Display";
        color: #585b49;
        letter-spacing: 1px; }
    #community .inner > p {
      margin-top: 30px;
      position: absolute;
      top: 50px;
      left: 0px;
      width: 400px;
      font: normal 16px/1.8 "Baloo 2";
      font-weight: 300;
      text-align: left;
      letter-spacing: 0.5px; }
    #community .inner .thead {
      width: 90%;
      position: absolute;
      top: 190px;
      left: 0px;
      background: #f2efeb;
      padding: 17px 0; }
      #community .inner .thead .num {
        padding-left: 20px;
        color: #302c28;
        font-family: "Open Sans";
        font-size: 15px; }
      #community .inner .thead .title {
        padding-left: 40%;
        color: #302c28;
        font-family: "Open Sans";
        font-size: 15px; }
    #community .inner article {
      float: left;
      transform: translateY(250px);
      width: 90%;
      height: 50px;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      vertical-align: middle;
      margin: 5px; }
      #community .inner article span {
        font-size: 14px;
        color: #666666;
        font-family: 'Open Sans';
        margin-left: 2%; }
      #community .inner article > h1 {
        font: 16px "Baloo 2";
        transition: 0.5s;
        color: #666;
        cursor: pointer;
        padding-left: 4%;
        font-weight: 300;
        display: inline-block;
        letter-spacing: -0.5px;
        margin-bottom: 0; }
        #community .inner article > h1:hover {
          color: #dcc6af; }
      #community .inner article a {
        font-size: 14px;
        color: #666666;
        font-family: 'Open Sans';
        position: absolute;
        right: 0;
        padding-right: 2%; }
    #community .inner .btns {
      display: block;
      position: absolute;
      bottom: 60px;
      width: 90%; }
      #community .inner .btns .search {
        float: left;
        width: 65px;
        height: 29px;
        line-height: 27px;
        text-align: center;
        border: 1px solid #ddd7d2;
        color: #938c85 !important;
        font-size: 12px;
        font-family: 'sans serif'; }
      #community .inner .btns .sort {
        float: right;
        width: 65px;
        height: 29px;
        line-height: 27px;
        text-align: center;
        border: 1px solid #ddd7d2;
        color: #938c85 !important;
        font-size: 12px;
        font-family: 'sans serif'; }
    #community .inner .pages {
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 300px;
      margin: 0 auto; }
      #community .inner .pages li {
        float: left;
        padding: 6px 12px; }
        #community .inner .pages li a {
          color: #666666; }
        #community .inner .pages li:nth-of-type(3) a {
          color: #51402f !Important;
          font-size: 18px; }
        #community .inner .pages li:nth-of-type(3)::after {
          content: "";
          display: block;
          margin-top: 5px;
          width: 120%;
          height: 1px;
          background: #51402f; }

.youtube {
  background-color: #f7f6ec; }
  .youtube .inner {
    max-width: 1200px;
    position: relative; }
    .youtube .inner > h1 {
      transform: translateY(-10px);
      margin-left: 30px;
      margin-bottom: 30px; }
      .youtube .inner > h1::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #585b49;
        margin-top: 10px; }
      .youtube .inner > h1 a {
        font: bold 40px/1.8 "Noto Serif Display";
        color: #585b49;
        letter-spacing: 1px; }
    .youtube .inner .logoBg {
      width: 200px;
      height: 100px;
      top: -30px;
      right: 0;
      position: absolute; }
    .youtube .inner .frame::after {
      content: "";
      display: block;
      clear: both; }
    .youtube .inner .frame article {
      width: 100%;
      height: 450px;
      float: left;
      margin-bottom: 32px;
      padding: 32px;
      overflow: hidden;
      border-bottom: 1px solid #c9c8bf;
      box-sizing: border-box; }
      .youtube .inner .frame article .inner {
        align-content: space-between;
        display: flex;
        width: 100%; }
        .youtube .inner .frame article .inner .pic {
          width: 49%;
          height: 327px;
          cursor: pointer;
          object-fit: cover;
          overflow: hidden; }
          .youtube .inner .frame article .inner .pic img {
            width: 100%;
            height: 100%;
            transition: 0.5s;
            position: relative;
            box-sizing: border-box; }
            .youtube .inner .frame article .inner .pic img:hover {
              transform: scale(1.1);
              filter: grayscale(70%); }
        .youtube .inner .frame article .inner .txt {
          box-sizing: border-box;
          margin-left: 60px;
          padding: 30px;
          width: 50%; }
          .youtube .inner .frame article .inner .txt h2 {
            font: bold 26px/1.2 "Noto Serif Display";
            color: #585b49;
            margin-bottom: 20px;
            word-break: break-all;
            width: auto;
            letter-spacing: 0.5px; }
          .youtube .inner .frame article .inner .txt span {
            color: #93938f;
            font: normal 16px "Baloo 2";
            font-weight: 600;
            letter-spacing: 0.5px;
            transform: translateY(-10px);
            display: block; }
          .youtube .inner .frame article .inner .txt p {
            font: normal 16px/1.8 "Baloo 2";
            color: #6D6D65;
            word-break: break-all;
            margin-top: 30px;
            letter-spacing: 1px; }
          .youtube .inner .frame article .inner .txt a {
            font: normal 13px/40px "Baloo 2";
            width: 200px;
            height: 40px;
            text-align: center;
            background-color: #b2b2a2;
            transition: 0.5s;
            display: block;
            color: #fff;
            margin-top: 40px;
            margin-left: 270px; }
            .youtube .inner .frame article .inner .txt a:hover {
              background-color: #585b49; }
    .youtube .inner .pop {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.9);
      padding: 5vw; }
      .youtube .inner .pop iframe {
        border: none;
        width: 100%;
        height: 100%; }
      .youtube .inner .pop span {
        position: absolute;
        top: 3vw;
        right: 5vw;
        font: bold 14px/1 "arial";
        color: #fff;
        cursor: pointer; }

#join {
  width: 100%;
  height: 780px;
  background-color: #f3f2ed; }
  #join .inner {
    width: 1200px;
    margin: 0 auto;
    position: relative; }
    #join .inner .pic {
      position: absolute;
      left: 603px;
      top: 48px;
      width: 1612px;
      height: 668px;
      opacity: 0.05;
      background-image: url(/public/img/began_bg.png);
      background-size: cover;
      background-repeat: no-repeat; }
    #join .inner h2 {
      width: 311px;
      letter-spacing: 1px;
      position: absolute;
      top: 105px;
      left: 146px;
      color: #585b49;
      font: bold 40px/1.5 "Noto Serif Display";
      text-align: left; }
    #join .inner .p1 {
      position: absolute;
      top: 227px;
      left: 149px;
      margin-top: 20px;
      width: 330px;
      font: normal 16px/1.8 "Baloo 2";
      font-weight: 300;
      text-align: left;
      letter-spacing: 0.5px; }
    #join .inner .message
    , #join .inner .phone {
      margin-top: 30px;
      color: #000;
      font: normal 14px "Baloo 2";
      font-weight: 300; }
      #join .inner .message
      i, #join .inner .phone i {
        font-size: 23px;
        transform: translateY(5px);
        color: #585b49;
        margin-right: 20px; }
    #join .inner .message {
      position: absolute;
      top: 328px;
      left: 149px; }
    #join .inner .phone {
      position: absolute;
      top: 376px;
      left: 149px; }
    #join .inner span {
      position: absolute;
      top: 470px;
      left: 146px;
      width: 303px;
      font: normal 14px/1.2 "Baloo";
      letter-spacing: 1px;
      color: #b3a395;
      text-align: left; }
    #join .inner .p2 {
      position: absolute;
      top: 513px;
      left: 148px;
      width: 280px;
      font: normal 12px/1.8 "Baloo 2";
      text-align: left;
      letter-spacing: 0.8px; }
    #join .inner .wrap a {
      position: absolute;
      height: 41px;
      left: 660px;
      top: 650px;
      width: 240px;
      background-color: #ab8e73;
      border-color: #ab8e73;
      color: #fff;
      font: normal 13px/41px "Baloo 2";
      font-weight: 300;
      letter-spacing: 1.2px;
      text-align: center; }
    #join .inner .wrap input {
      width: 550px;
      height: 41px;
      background-color: #fff;
      border: none;
      outline: none;
      font: normal 13px/41px "Baloo 2";
      padding: 10px;
      color: #000;
      font-weight: 300;
      position: absolute;
      right: 105px; }
      #join .inner .wrap input:nth-of-type(1) {
        top: 101px; }
      #join .inner .wrap input:nth-of-type(2) {
        top: 162px; }
      #join .inner .wrap input:nth-of-type(3) {
        top: 223px; }
      #join .inner .wrap input:nth-of-type(4) {
        top: 284px; }
      #join .inner .wrap input:nth-of-type(5) {
        top: 345px; }
    #join .inner .wrap textarea {
      position: absolute;
      top: 406px;
      right: 105px;
      height: 194px;
      width: 550px;
      background-color: #fff;
      border: none;
      outline: none;
      font: normal 13px/41px "Baloo 2";
      padding: 10px;
      color: #000;
      font-weight: 300; }

#department {
  width: 100%;
  background-color: #f3f2ed; }
  #department .inner {
    width: 1200px;
    margin: 0 auto; }
    #department .inner .title {
      width: 100%;
      height: 500px;
      position: relative; }
      #department .inner .title h1 {
        color: #585b49;
        font: bold 60px/1.1 "Noto Serif Display";
        letter-spacing: 1px;
        text-align: center;
        padding-top: 82px; }
      #department .inner .title span {
        display: block;
        margin-top: 20px;
        font: normal 20px/1.8 "Baloo 2";
        letter-spacing: 1.2pxs;
        text-align: center;
        font-weight: 300; }
      #department .inner .title .line {
        margin: 50px auto;
        width: 713px;
        height: 1px;
        background-color: #585b49; }
      #department .inner .title .titPic {
        padding: 0 10px;
        width: 72px;
        height: 51px;
        margin: 0 auto;
        background-color: #f3f2ed;
        position: absolute;
        top: 228px;
        left: 50%;
        transform: translateX(-50%); }
        #department .inner .title .titPic img {
          width: 100%;
          height: 100%; }
      #department .inner .title p {
        display: block;
        width: 761px;
        font: normal 14px/2.3 "Baloo 2";
        font-weight: 300;
        text-align: center;
        color: #0d0d0d;
        letter-spacing: 0.5px;
        margin: 0 auto; }
    #department .inner .contents {
      width: 100%;
      height: 1300px;
      position: relative; }
      #department .inner .contents .wrap {
        position: relative; }
        #department .inner .contents .wrap .furniture1 {
          position: absolute;
          left: 0;
          top: 550px;
          width: 550px;
          height: 388px; }
          #department .inner .contents .wrap .furniture1 img {
            width: 100%;
            height: 100%; }
        #department .inner .contents .wrap .p1 {
          width: 460px;
          position: absolute;
          right: 110px;
          top: 550px;
          font: normal 18px/1.8 "Baloo 2";
          font-weight: 300;
          color: #373737;
          text-align: left; }
        #department .inner .contents .wrap .verticalLine {
          width: 1px;
          height: 357px;
          background-color: rgba(88, 91, 73, 0.589);
          position: absolute;
          left: 630px;
          top: 720px; }
        #department .inner .contents .wrap .furniture2 {
          position: absolute;
          right: 0;
          top: 788px;
          width: 450px;
          height: 431px; }
          #department .inner .contents .wrap .furniture2 img {
            width: 100%;
            height: 100%; }
        #department .inner .contents .wrap .p2 {
          width: 460px;
          position: absolute;
          left: 90px;
          top: 1008px;
          text-align: justify;
          color: #373737;
          font: normal 17px/2.2 "Baloo 2";
          font-weight: 300; }
      #department .inner .contents .departmentBg {
        background-image: url(/public/img/began_bg.png);
        background-repeat: no-repeat;
        opacity: 0.05;
        background-size: cover;
        width: 500px;
        height: 300px;
        position: absolute;
        top: -20%;
        left: -100px; }
      #department .inner .contents .teamInfo {
        width: 100%;
        font: bold 40px/1.8 "Noto Serif Display";
        color: #585b49;
        text-align: right;
        position: absolute;
        top: 0%;
        letter-spacing: 1px; }
      #department .inner .contents .peoples {
        width: 100%;
        display: flex;
        position: absolute;
        top: 8%;
        justify-content: space-between; }
        #department .inner .contents .peoples .human1
        , #department .inner .contents .peoples .human2
        , #department .inner .contents .peoples .human3
        , #department .inner .contents .peoples .human4 {
          width: 20%;
          height: 250px;
          margin-right: 10px;
          position: relative; }
          #department .inner .contents .peoples .human1
          img, #department .inner .contents .peoples .human2
          img, #department .inner .contents .peoples .human3
          img, #department .inner .contents .peoples .human4 img {
            border-radius: 10px;
            transition: 0.5s;
            width: 100%;
            height: 100%;
            filter: sepia(40%);
            margin-top: -250px; }
          #department .inner .contents .peoples .human1
          span, #department .inner .contents .peoples .human2
          span, #department .inner .contents .peoples .human3
          span, #department .inner .contents .peoples .human4 span {
            font: normal 18px "Baloo 2";
            font-weight: 300;
            position: absolute;
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
            background-color: rgba(192, 140, 77, 0.822);
            display: none;
            border: 1px solid #fff;
            width: 70%;
            text-align: center;
            border-radius: 20px;
            transition: 0.5s; }
          #department .inner .contents .peoples .human1:hover
          img, #department .inner .contents .peoples .human2:hover
          img, #department .inner .contents .peoples .human3:hover
          img, #department .inner .contents .peoples .human4:hover img {
            filter: saturate(0.5); }
          #department .inner .contents .peoples .human1:hover
          span, #department .inner .contents .peoples .human2:hover
          span, #department .inner .contents .peoples .human3:hover
          span, #department .inner .contents .peoples .human4:hover span {
            display: block; }
          #department .inner .contents .peoples .human1::before
          , #department .inner .contents .peoples .human2::before
          , #department .inner .contents .peoples .human3::before
          , #department .inner .contents .peoples .human4::before {
            content: "";
            margin: -10px 10px;
            display: inline-block;
            width: 100%;
            height: 100%;
            background-color: #b2b2a2;
            border-radius: 10px; }

/*# sourceMappingURL=style.css.map */
